{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "registry-mirrors": ["{{ DEFAULT_MIRROR }}"],
  "max-concurrent-downloads": 10,
  "log-driver": "{{ LOG_DRIVER }}",
  "log-level": "{{ LOG_LEVEL }}",
  "storage-driver": "overlay2",
  "log-opts": {
    "max-size": "{{ LOG_MAX_SIZE }}",
    "max-file": "{{ LOG_MAX_FILE }}"
  },
  "metrics-addr": "0.0.0.0:9323",
  "experimental": true,
  "storage-opts": [
      "overlay2.override_kernel_check=true"
    ]
}

